# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
sts-4.19.0.RELEASE/
apache-tomcat-8.5.85/
Servers/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/
.metadata/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea


README.html